In [87]:
import re
import geonamescache
import pandas as pd
import numpy as np

from unidecode import unidecode

class DiseaseOutbreakDataMiner:

    def __init__(self,file_path):
        self.data_file = file_path
        self.regexp = re.compile(r'[a-zA-z.]+')
        self.gc = geonamescache.GeonamesCache()
        self.df = None
        self.headlines = []
        self.countries = []
        self.lats = []
        self.longs =[]
        self.places = []

    def find_city(self,c_word, n_word, nn_word):

        c_city = None
        n_city = None
        nn_city = None
        cn_city = None  
        cnn_city = None

        #print(f"finding geo for city {c_word} {n_word} {nn_word}")

        #Three words
        search_word = c_word + " " + n_word + " " + nn_word
        #print(f"searching for: {search_word}")
        cnn_city = self.gc.get_cities_by_name(search_word)

        if len(cnn_city) > 0:
            #print(f"Searched for city {search_word} got geo: {cnn_city}")
            return (3,search_word,cnn_city)

        #first two words   
        search_word = c_word + " " + n_word
        #print(f"searching for: {search_word}")
        cn_city = self.gc.get_cities_by_name(search_word)

        if len(cn_city) > 0 :
            #print(f"searched for city {search_word} got geo: {cn_city}")
            return (2,search_word,cn_city)

        #last two words
        search_word = n_word + " " + nn_word
        #print(f"searching for: {search_word}")
        nn_city = self.gc.get_cities_by_name(search_word)
        if len(nn_city) > 0:
            #print(f"searched for city {search_word} got geo: {nn_city}")
            return (2,search_word,nn_city)

        #first word
        c_city = self.gc.get_cities_by_name(c_word)
        #print(f"searching for: {c_word}")

        if len(c_city) > 0:
            #print(f"serached for {c_word} geo: {c_city}")
            return (1,c_word,c_city)

        #second word
        n_city = self.gc.get_cities_by_name(n_word)
        #print(f"searching for: {n_word}")

        if len(n_city) > 0:
            #print(f"serached for {n_word} geo: {n_city}")
            return (1,n_word,n_city)

        #third word
        nn_city = self.gc.get_cities_by_name(nn_word)
        #print(f"searching for: {nn_word}")

        if len(nn_city) > 0:
            #print(f"serached for {nn_word} geo: {nn_city}")
            return (1,nn_word,nn_city)    


        return None
    
    def data_to_dataframe(self,headline, geo_points):
        #print(geo_points)

        t_place = np.nan
        t_country = np.nan
        t_lat = np.nan
        t_long = np.nan


        max_point = 0
        for point in geo_points:
            if point[0] > max_point:
                t_place = point[1]
                max_point = point[0]
                loc_data =  point[2]
                for loc in loc_data:
                    for key in loc:
                        t_country = loc[key]["countrycode"]
                        t_lat = loc[key]["latitude"]
                        t_long = loc[key]["longitude"]

                        #print(f"{headline} {t_place} {t_country} {t_lat} {t_long}")

        self.headlines.append(headline)
        self.places.append(t_place)
        self.countries.append(t_country)
        self.lats.append(t_lat)
        self.longs.append(t_long)
    

    def save_dataframe(self):
        data = {"headlines": self.headlines, "cities": self.places, "countries": self.countries, "latittudes": self.lats, "longitudes" : self.longs }
        df = pd.DataFrame(data)
        df.replace(to_replace='None', value=np.nan)
        return df

    def load_data(self):
        geo_collections = {}
        file = open(self.data_file, "r")
        for number,line in enumerate(file.readlines()):
            head_line = unidecode(line)
            result = re.findall(r'[a-zA-Z.]+',line,flags=re.I)
            if result ==  None:
                print("Wrong with Regexp construction")
            else:
                g_pos = []
                for idx,res in enumerate(result):
                    if (idx < (len(result) - 2)):
                        result_city = self.find_city(result[idx], result[idx+1], result[idx+2])
                        if result_city is not None:
                            g_pos.append(result_city)

            geo_collections[number] = g_pos
            self.data_to_dataframe(line,geo_collections[number])


        file.close()
        self.df = self.save_dataframe()

In [88]:
data_miner = DiseaseOutbreakDataMiner("data/headlines.txt")
data_miner.load_data()
len(data_miner.df.index)
data_miner.df.head(50)

,headlines,cities,countries,latittudes,longitudes
0,Zika Outbreak Hits Miami\n,Miami,US,25.77427,-80.19366
1,Could Zika Reach New York City?\n,New York City,US,40.71427,-74.00597
2,First Case of Zika in Miami Beach\n,Miami Beach,US,25.79065,-80.13005
3,"Mystery Virus Spreads in Recife, Brazil\n",Recife,BR,-8.05389,-34.88111
4,Dallas man comes down with case of Zika\n,Dallas,US,44.91928,-123.31705
5,Trinidad confirms first Zika case\n,Trinidad,UY,-33.51650,-56.89957
6,Zika Concerns are Spreading in Houston\n,Houston,US,29.76328,-95.36327
7,Geneva Scientists Battle to Find Cure\n,Geneva,US,41.88753,-88.30535
8,The CDC in Atlanta is Growing Worried\n,Atlanta,US,33.74900,-84.38798
9,Zika Infested Monkeys in SÃ£o Paulo\n,NaN,NaN,NaN,NaN
10,Brownsville teen contracts Zika virus\n,Brownsville,US,40.66094,-73.92014
11,Mosquito control efforts in St. Louis take new...,St. Louis,US,38.62727,-90.19789
12,San Juan reports 1st U.S. Zika-related death a...,San Juan,US,26.18924,-98.15529
13,"Flu outbreak in Galveston, Texas\n",Galveston,US,29.30135,-94.79770
14,Zika alert â€“ Manila now threatened\n,Manila,PH,14.60420,120.98220
15,Zika afflicts 7 in Iloilo City\n,Iloilo,PH,10.69694,122.56444
16,New Los Angeles Hairstyle goes Viral\n,Los Angeles,US,34.05223,-118.24368
17,Louisiana Zika cases up to 26\n,NaN,NaN,NaN,NaN
18,Orlando volunteers aid Zika research\n,Orlando,US,28.53834,-81.37924
19,Zika infects pregnant woman in Cebu City\n,Cebu City,PH,10.31672,123.89071
20,Chicago's First Zika Case Confirmed\n,Chicago,US,41.85003,-87.65005
21,Tampa Bay Area Zika Case Count Climbs\n,Tampa,US,27.94752,-82.45843
22,"Bad Water Leads to Sickness in Flint, Michigan\n",Flint,US,43.01253,-83.68746
23,Baltimore plans for Zika virus\n,Baltimore,US,39.29038,-76.61219
24,London Health Unit Tracks Mad Cow Disease\n,London,GB,51.50853,-0.12574
25,Zika cases in Vietnam's Ho Chi Minh City surge\n,Ho,GH,6.60084,0.47130
26,Philadelphia experts track pandemic\n,Philadelphia,US,39.95233,-75.16379
27,Flu season hits Boston\n,Boston,US,42.35843,-71.05977
28,Scientists in Paris to look for answers\n,Paris,US,33.66094,-95.55551
29,Key Zika Findings in San Diego Institute\n,San Diego,US,32.71571,-117.16472
30,Thailand-Zika Virus in Bangkok\n,Bangkok,TH,13.75398,100.50144
31,Beijing team cracks Zika secret\n,Beijing,CN,39.90750,116.39723
32,Zika spreading to Salvador\n,Salvador,BR,-12.97111,-38.51083
33,Kuala Lumpur is Hit By Zika Threat\n,Kuala Lumpur,MY,3.14120,101.68653
34,First Zika case confirmed in Yangon\n,Yangon,MM,16.80528,96.15611
35,Tallahassee Doctors Discuss Zika Virus\n,Tallahassee,US,30.43826,-84.28073
36,Zika Virus Reaches San Francisco\n,San Francisco,US,37.77493,-122.41942
37,New Vaccine on Trial in Bethesda District\n,Bethesda,US,38.98067,-77.10026
38,Townsville Zika tests inconclusive\n,Townsville,AU,-19.26639,146.80569
39,Mandaluyong City under Siege by Virus\n,Mandaluyong City,PH,14.58320,121.04090
40,Hepatitis E re-emerges in Santa Rosa\n,Santa Rosa,US,38.44047,-122.71443
41,Zika worries in San Salvador\n,San Salvador,SV,13.68935,-89.18718
42,Zika virus reported in Cleveland\n,Cleveland,US,41.49950,-81.69541
43,More Zika patients reported in Austin\n,Austin,US,43.66663,-92.97464
44,"Zika outbreak in Piracicaba, Brazil\n",Piracicaba,BR,-22.72528,-47.64917
45,Lima tries to address Zika Concerns\n,Lima,US,40.74255,-84.10523
46,More people in Toronto are infected with Hepat...,Toronto,CA,43.70011,-79.41630
47,18 new Zika Cases in BogotÃ¡\n,NaN,NaN,NaN,NaN
48,Spanish Flu Sighted in Antigua\n,NaN,NaN,NaN,NaN
49,Brisbane is infested with Meningitis\n,Brisbane,AU,-27.46794,153.02809

In [64]:
data_miner.gc.get_cities_by_name('São Paulo')

[{'3448439': {'geonameid': 3448439,
   'name': 'São Paulo',
   'latitude': -23.5475,
   'longitude': -46.63611,
   'countrycode': 'BR',
   'population': 10021295,
   'timezone': 'America/Sao_Paulo',
   'admin1code': '27'}}]